@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

/* Add to your index.css or App.css */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* Adjust based on your navbar height */
}